<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Facture {{ facture.numero }}</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        .collapsible {
            background-color: #595e6e;
            color: white;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            margin-top: 100px;
        }

        .active, .collapsible:hover {
            background-color: #555;
        }

        .content {
            padding: 5px 14px;
            background-color: #f1f1f1;
        }
        .cs-header {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .cs-my-3 {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .cs-info {
            border: 1px solid red;
            padding: 15px 10px;
            display: inline-block;
            border-radius: 10px;
            margin-left: 20px;
        }
    </style>
</head>
<body>

<div class="cs-header">
{#    <div class="cs-my-3" >#}
{#        <img src="{{asset('images/logo.png')}}" alt="" style='background-color: #fff'>#}
{#    </div>#}
    <div class="cs-info">
        <b>LES EXTRAS</b>
        <br>
        30 Rue nouvelle
        <br>
        77190 Dammarie les lys
        <br>
        06.25.91.35.94
        <br>
        contact@asso-adepa.com
        <br>
        www.asso-adepa.com
    </div>
</div>

<div style="text-align: right;">
    <h1>Facture #{{ facture.numero }}</h1>
    <p>Date : {{ facture.invoiceDate|date('d/m/Y à H:i') }}</p>
    <div class="cs-info">
        <p>Client : {{ facture.customer.nickname }}</p>
        <p>Téléphone : {{ facture.customer.telephone }}</p>
        <p>Email : {{ facture.customer.email }}</p>
        <p style="margin-bottom: 10px;">Adresse : {{ facture.customer.fullAddress }}</p>
    </div>
</div>


<table style="margin-top: 10px">
    <thead>
    <tr>
        <th>Description</th>
        <th>Prix unitaire ( par heure)</th>
        <th>Quantité</th>
        <th>Total (€)</th>
    </tr>
    </thead>
    <tbody>
    {% set total_ht = 0 %}
    {% for booking in facture.bookings %}
        {% set total_ht = total_ht + ( 28 * booking.totalHoursPassed ) %}
        <tr>
            <td>{{ booking.mission.title }}</td>
            <td>{{ 28 }} €</td>
            <td>
                {{ booking.totalHoursPassed }} heure{{ booking.totalHoursPassed > 1 ? 's' }}
            </td>
            <td>{{ booking.mission.price }} €</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="3">Total HT</td>
        <td>{{ total_ht }} €</td>
    </tr>
    <tr>
        {#        {% set montant_tva = total_ht * (20 / 100) %}#}
        {% set montant_tva = 0 %}
        <td colspan="3">TVA ( 20% )</td>
        <td>{{ montant_tva }} €</td>
    </tr>
    <tr>
        {% set total_ttc = total_ht + montant_tva %}
        <td colspan="3">Total TTC</td>
        <td>{{ total_ttc }} €</td>
    </tr>
    <tr>
        <td colspan="3">Net à payer</td>
        <td>{{ total_ttc }} €</td>
    </tr>
    </tbody>
</table>

<p class="collapsible">Information complémentaire du client</p>
<div class="content">
    <p>SIRET : {{ facture.customer.siret }}</p>
    <p>Numéro TVA : {{ facture.customer.tva }}</p>
</div>

<div style="margin-top: 15px;margin-bottom: 5px;text-align: center;">
    Association ADEPA, Dispositif LES EXTRAS ADEPA - 30 rue nouvelle 77190 Dammarie les lys – contact@asso-adepa.com - Siret 809 251 358 00028
</div>
</body>
</html>
