{% extends 'base.html.twig' %}

{% block title %}CONNEXION
{% endblock %}
{% block _footer '' %}
{% block description %}
	Ici vous pourrez facilement réserver une mission un accord avec votre recherche. Alors n'hésitez pas à vous connecter ou vous inscrire si ce n'est pas déjà fait !
{% endblock %}

{% block body %}

	<div class="container-fluid cs-login">

		<div class="row">

			<div class="col" id="register-left">
				<div class="row">
					<div class="col"></div>
					<div class="col">
						<div id="separator"></div>
						<br>
						<h2 id="welcome">Bienvenue</h2>
						<p id="description-register">SUR LE PORTAIL LES EXTRAS !</p>
						<p>Ici vous pourrez facilement proposer vos prestations ou en réserver une. Alors n'hésitez pas à vous connecter ou vous inscrire si ce n'est pas déjà fait !</p>
					</div>
				</div>
			</div>

			<div class="col" id="register-right">
				<div class="row">
					<div class="col">
						<form method="post">
							{% if error %}
								<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
							{% endif %}

							{% if app.user %}
								<div class="mb-3">
									Vous êtes connecté(e) comme
									{{ app.user.userIdentifier }},
									<a href="{{ path('app_logout') }}">Me déconnecter</a>
								</div>
							{% endif %}

							<h1 class="h3 mb-3 font-weight-normal">Me connecter</h1>
							<label for="inputEmail">Email</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
							<label for="inputPassword">Mot de passe</label>
							<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

							<input
							type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

							{#
								Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
								See https://symfony.com/doc/current/security/remember_me.html
														                            
								<div class="checkbox mb-3">
									<label>
										<input type="checkbox" name="_remember_me"> Remember me
									</label>
								</div>
							#}


							<div class="row mt-3 mb-5">

								<div class="col m-auto">
									<button class="btn btn-primary mt-1" type="submit">Connexion</button>
									&nbsp;
									&nbsp;
									<a href="{{ path('app_register') }}" class="btn btn-success mt-1" type="submit">S'inscrire</a>
									&nbsp;
									&nbsp;
									<a href="{{ path('app_forgot_password_request') }}" class="btn btn-info mt-1" type="submit">Mot de passe oublié ?</a>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>


	{% endblock %}
