{% extends 'base_admin.html.twig' %}

{% block title 'Liste des utilisateurs' %}

{% block javascripts %}
    {{ encore_entry_script_tags('datatable') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('datatable') }}
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_dash_board_index') }}">Dashboard</a></li>
        <li class="breadcrumb-item active">{{ block('title') }}</li>
    </ol>

    <div>
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Liste des utilisateurs</h1>
        <div class="text-right">
            <a class="btn btn-outline-primary my-3" href="{{ path('admin_user_new') }}">
                <span class="fa fa-plus-square"></span>
                Nouveau utilisateur
            </a>
        </div>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Clients</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th align="center">Prénom</th>
                            <th align="center">Nom</th>
                            <th align="center">Phone</th>
                            <th align="center">Email</th>
                            <th align="center">Active</th>
                            <th align="center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users['clients'] %}
                            <tr>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.telephone }}</td>
                                <td>{{ user.email }}</td>
                                <td align="center">
                                    {% if user.enabled %}
                                        <span class="badge badge-info">
                                            Oui
                                        </span>
                                    {% else %}
                                        <span class="badge badge-secondary">
                                            Non
                                        </span>
                                    {% endif %}
                                </td>
                                <td align="center">
                                    <a href="{{ path('admin_user_edit', {slug: user.slug}) }}">Modifier</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="card shadow mb-2">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Freelances</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th align="center">Prénom</th>
                            <th align="center">Nom</th>
                            <th align="center">Phone</th>
                            <th align="center">Email</th>
                            <th align="center">Active</th>
                            <th align="center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users['freelances'] %}
                            <tr>
                                <td>{{ user.firstname }}</td>
                                <td>{{ user.lastname }}</td>
                                <td>{{ user.telephone }}</td>
                                <td>{{ user.email }}</td>
                                <td align="center">
                                    {% if user.enabled %}
                                        <span class="badge badge-info">
                                            Oui
                                        </span>
                                    {% else %}
                                        <span class="badge badge-secondary">
                                            Non
                                        </span>
                                    {% endif %}
                                </td>
                                <td align="center">
                                    <a href="{{ path('admin_user_edit', {slug: user.slug}) }}">Modifier</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

