{% extends 'base_admin.html.twig' %}

{% block title %}Liste article{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('datatable') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('datatable') }}
{% endblock %}


{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('admin_dash_board_index') }}">Dashboard</a></li>
        <li class="breadcrumb-item active">Mes candidats
        </li>
    </ol>
    <div class="mt-3">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Candidatures</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Titre de l'offre</th>
                            <th>Réservé le</th>
                            <th>Candidat</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for booking in bookings %}
                            <tr>
                                <td>
                                    <a href="{{ path('admin_mission_show', {slug: booking.mission.slug}) }}">{{ booking.mission.title }}</a>
                                </td>
                                <td>{{ booking.createdAt ? booking.createdAt|date('d/m/Y à H:i') : '' }}</td>
                                <td>
                                    <a href="{{ path('admin_candidat_show', {slug: booking.user.slug}) }}">
                                        <span class="badge badge-dark">{{ booking.user ? booking.user.nickname }}</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}