{% extends 'base_admin.html.twig' %}

{% block title %}Liste des réservations des services{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('datatable') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('datatable') }}
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_dash_board_index') }}">Tableau de bord</a></li>
        <li class="breadcrumb-item active">Liste des réservations des services</li>
    </ol>

    <div class="mt-3">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Liste des réservations des services</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Service</th>
                            <th>Client</th>
                            <th>Début d'intervention</th>
                            <th>Fin d'intervention</th>
                            <th>Heure d'intervention</th>
                            <th>Prix</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for reservation in reservations %}
                            <tr>
                                <td>
                                    <a class="" href="#" data-toggle="modal" data-target="#modal-{{ reservation.id }}" title="Note du freelance">
                                        {{ reservation.educatheure.title }}
                                    </a>
                                    <br/>
                                    <small>
                                        Publié le {{ reservation.createdAt|date('d/m/Y H:i')  }}
                                    </small>
                                </td>
                                <td>
                                    {{ reservation.owner.nickname }}
                                </td>
                                <td>{{ reservation.startedAt|date('d/m/Y à H:i') }}</td>
                                <td>{{ reservation.endAt|date('d/m/Y à H:i') }}</td>
                                <td>{{ reservation.numberIntervention }} heure{{ reservation.numberIntervention > 1 ? 's' }}</td>
                                <td class="text-danger text-">
                                    {{ reservation.educatheure.price }} €
                                </td>
                                <td>
                                    {% if reservation.status == 'accepted' %}
                                        <span class="badge badge-success">Validé</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="#" data-toggle="modal" data-target="#modal-{{ reservation.id }}">
                                        <i class="fas fa-eye">
                                        </i>
                                        Voir détails
                                    </a>
                                </td>
                                {% include 'back_office/reservation/_reservation_note.html.twig' %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
