{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block description %}
	Notre plateforme en ligne facilite la mise en relation entre des structures médico-sociales à la recherche de professionnels qualifiés et
	des freelancers à la recherche d'une mission à court terme.
	Rejoignez notre communauté dès maintenant et trouvez votre prochaine mission !
{% endblock %}


{% block body %}

	<section class="banniere">
		<div>
			<div class="row">
				<div class="col-12 text-center">
					<h1>
						LES EXTRAS FREELANCES
						<br>
						DU MÉDICO SOCIAL
					</h1>
				</div>
				<div class="col-lg-12 text-center">
					<lottie-player class="js-relationship mt-lg-n4"  background="transparent"  speed="1"
								   style="height: 214px;" loop autoplay>
					</lottie-player>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					{{ form_start(form, {'action': path('front_mission'), 'method': 'POST', 'attr': {'class': 'js-form-search'}}) }}
					<div class="row" id="js-animation">
						<div class="col-12 col-lg-8 offset-lg-2">
							{{ form_widget(form.categories) }}
							<div class="text-center">
								<button type="submit" class="rounded-pill input-search p-2 p-lg-3 btn btn-danger">Rechercher</button>
								&nbsp;
{#								<a href="https://les-extras.fr/" target="_blank" class="mt-1 mt-md-0 rounded-pill input-search p-2 p-lg-3 btn btn-primary"> VOIR NOS OFFRES D’ATELIERS </a>#}
							</div>
						</div>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</section>

	<section class="services" id="intro1">
		<h2 style="color: #131314">NOS SERVICES</h2>
		<div class="row">
{#			<div class="col-12 col-md-4 service1">#}
{#				<div>#}
{#					<lottie-player class="js-plateforme"  background="transparent"  speed="1" loop autoplay>#}
{#					</lottie-player>#}
{#				</div>#}
{#				<h3 class="my-2 bg-color-blue">Plateforme#}
{#				</h3>#}
{#				<p>Grâce à notre plateforme, vous pourrez en quelques clics#}
{#					proposer vos services éducat'heures, demander un freelance,#}
{#					réserver un atelier éducatif et obtenir du renfort d'équipe professionnel.#}
{#					Nous vous avons créé un espace autonome qui permet#}
{#					de répondre aux besoins simplement et avec efficacité !#}
{#					Nous sommes à votre écoute et disponible via notre formulaire de contact#}
{#					pour toutes questions turlupinantes, difficulté d'inscription, ou juste pour faire notre connaissance 😉</p>#}
{#				<div class="mt-2 text-center">#}
{#					<a href="https://les-extras.fr/" target="_blank" class="mt-1 mt-md-0 rounded-pill input-search p-2 p-lg-3 btn btn-primary"> VOIR NOS OFFRES D’ATELIERS </a>#}
{#				</div>#}
{#			</div>#}
{#			<div class="service2 col-12 col-md-4">#}
{#				<div>#}
{#					<lottie-player class="js-formation"  background="transparent"  speed="1"#}
{#								   style="height: 224px;" loop autoplay>#}
{#					</lottie-player>#}
{#				</div>#}
{#				<h3 class="my-2 bg-color-blue">Formations</h3>#}
{#				<p>Nous effectuons sur demande des présentations du dispositif de l'association, de la plateforme et son utilisation. Donc demander nous une Extra Présentation et inscrivez-vous à notre newsletter pour recevoir les dates de nos prochaines formations au monde du médico-social. Tous nos adhérents en bénéficient gratuitement.</p>#}
{#			</div>#}
{#			<div class="service3 col-12 col-md-4">#}
{#				<div>#}
{#					<lottie-player class="js-assistance"  background="transparent"  speed="1"#}
{#								   style="height: 224px;" loop autoplay>#}
{#					</lottie-player>#}
{#				</div>#}
{#				<h3 class="my-2 bg-color-blue">Assistance</h3>#}
{#				<p>Nous sommes à votre écoute et disponible via notre formulaire de contact pour toutes questions turlupinantes, difficulté d'inscription, ou juste pour faire notre connaissance 😉#}
{#					Contacter DAVID notre EXTRA Référent au 06 20 60 67 89 ou par mail à assoc.adepa@gmail.com#}
{#				</p>#}
{#			</div>#}
{#		</div>#}


			<div class="service1 col-12 col-md-4">
				<div>
					<lottie-player class="js-formation"  background="transparent"  speed="1"
								   style="height: 224px;" loop autoplay>
					</lottie-player>
				</div>
				<h3 class="my-2 bg-color-blue">
					{{ "RENFORT D'ÉQUIPE"|capitalize }}
				</h3>
				<p>

					Les Professionnels Auto-Entrepreneurs Disponibles
					pour vos Besoins en Renfort D'équipe.
					<br>
					Proposez une mission et le logiciel
					vous donnera 24 h sur 24 et 7 jours sur 7
					l'intervenant Adapté !
				</p>
				<div class="mt-2 text-center">
					<a href="https://les-extras.fr/" target="_blank" class="rounded-pill input-search p-2 p-lg-3 btn btn-danger">RENFORT D'ÉQUIPE</a>
				</div>
			</div>
			<div class="service2 col-12 col-md-4">
				<div>
					<lottie-player class="js-assistance"  background="transparent"  speed="1"
								   style="height: 224px;" loop autoplay>
					</lottie-player>
				</div>
				<h3 class="my-2 bg-color-blue">{{ "LES ÉDUCAT'HEURES"|capitalize }} </h3>
				<p>
					Des Heures éducatives données par des Experts
					d'un Public et d'une Technicité maitrisée !
					<br>
					Faites votre Demande Personnalisée via notre Formulaire
					et Laissez vous guider, c'est Automatique.
				</p>
				<div class="mt-2 text-center">
					<a href="https://les-extras.fr/" target="_blank" class="rounded-pill input-search p-2 p-lg-3 btn btn-danger">LES ÉDUCAT'HEURES</a>
				</div>
			</div>
			<div class="col-12 col-md-4 service3">
				<div>
					<lottie-player class="js-plateforme"  background="transparent"  speed="1" loop autoplay>
					</lottie-player>
				</div>
				<h3 class="my-2 bg-color-blue">Plateforme
				</h3>
				<p>Grâce à notre plateforme, vous pourrez en quelques clics
					proposer vos services éducat'heures, demander un freelance,
					réserver un atelier éducatif et obtenir du renfort d'équipe professionnel.
					Nous vous avons créé un espace autonome qui permet
					de répondre aux besoins simplement et avec efficacité !
					Nous sommes à votre écoute et disponible via notre formulaire de contact
					pour toutes questions turlupinantes, difficulté d'inscription, ou juste pour faire notre connaissance 😉</p>
				<div class="mt-2 text-center">
					<a href="https://les-extras.fr/" target="_blank" class="mt-1 mt-md-0 rounded-pill input-search p-2 p-lg-3 btn btn-primary"> VOIR NOS OFFRES D’ATELIERS </a>
				</div>
			</div>
		</div>
	</section>

	{% if educatheurs|length %}
		<section class="cs-educatheurs container">
			<h2 class="wp-block-heading has-text-align-center content-title" id="h-les-educat-heures">LES ÉDUCAT’HEURES</h2>
{#			<p class="text-muted text-center mb-5"><strong>Demandez des</strong> <strong>heures éducatives assurés par nos experts en accompagnement personnalisé et renforcé.</strong></p>#}

			<div class=" js-slick-educatheur">
				{% for educateur in educatheurs %}
					<div>
						<div class="card text-center mt-3 p-0 cs-educ">
							<div class="card-header p-0">
								{% if educateur.image %}
									<a href="{{ path('app_educatheure_show', {slug:  educateur.slug}) }}">
										<img style="max-height: 400px" class="img-fluid w-100" height="268" width="446" src="{{ asset(photo_directory ~'/'~ educateur.image.name) }}" alt="Éducatheur {{ educateur.title }}">
									</a>
								{% endif %}
							</div>
							<div class="card-body" style="padding: 7px;">
								<h5 class="card-title mb-4">
									<a href="{{ path('app_educatheure_show', {slug:  educateur.slug}) }}" style="color: #19191a;">
										{{ educateur.title }}
									</a>
								</h5>
								<div class="my-2">
									<div class="row">
										<div class="col-12">
											<div class="cs-small-homepage pl-1 mt-2" title="Nombre des participants">
												<i class="fas fa-clock text-primary"></i>
												Heure d'intervention préconisé :
												<span class="text-muted">
													{% if educateur.nombreIntervention %}
														{{ educateur.nombreIntervention }}H
													{% endif %}
												</span>
											</div>
										</div>
										<div class="col-12">
											<div class="cs-small-homepage pl-1 mt-2" title="Nombre des participants">
												<i class="fas fa-people-arrows text-primary"></i>
												Participant maximum : <span class="text-muted">{{ educateur.numberParticipant }}</span>
											</div>
										</div>
										<div class="col-12">
											<div class="cs-small-homepage pl-1 mt-2" title="Type public">
												<i class="fas fa-fw fa-bullhorn text-primary"></i>
												<span>
                                                         Public :
                                                    </span>

												{% for public in educateur.getEducatheureTags %}
													<span class="badge badge-pill badge-primary">{{ public.category.title }}</span>
												{% endfor %}
											</div>
										</div>
									</div>
									<div class="row mt-1 mt-sm-3">
										<div class="col-12">
											<div class="cs-content-dscription">
												{{ educateur.description|u.truncate(150, '...')|raw }}
											</div>
										</div>
									</div>
								</div>

							</div>
							<div class="card-footer">
								<div class="d-flex justify-content-between">
									<div class="text-danger text-sm-start">
										<i class="fas fa-map-marker-alt text-danger"></i>
										<span title="{{ educateur.departement }}" class="small">{{ educateur.departement|upper }}</span>
									</div>
									<div>
										<a href="{{ path('app_educatheure_show', {slug:  educateur.slug}) }}" title="Voir le service">
											<i class="fas fa-eye"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div>
				<div class="mb-5 mt-4 text-right">
					<small>
						<a class="btn btn-primary rounded-pill" href="{{ path('app_educatheure_list') }}">
							VOIR TOUS LES ÉDUCAT’HEURES
						</a>
					</small>
				</div>
			</div>
		</section>
	{% endif %}

	<section class="text-center cs-video ">
		<div class="cs-iframe-main embed-responsive embed-responsive-16by9">
			<iframe class="cs-iframe" src="https://www.youtube.com/embed/mtluaN-KRL0" title="YouTube video player" frameborder="0" allow="" allowfullscreen></iframe>
		</div>
	</section>
	<div class="mt-md-5 mb-md-2 text-center actualites">
		<h2 style="color: #131314">NOS ACTUALITÉS</h2>
	</div>
	<section class="news" id="news">

		<div class="news-box row ">
			<div class="col-12 col-sm-6 offset-sm-3">
				{% if articles|length %}
					{% include 'back_office/dash_board/_article.html.twig' with {'articles': articles} %}
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}
