{% extends "base.html.twig" %}

{% block title %}Accueil ADEPA{% endblock %}

{% block description %}
	Notre plateforme en ligne facilite la mise en relation entre des structures médico-sociales à la recherche de professionnels qualifiés et
	des freelancers à la recherche d'une mission à court terme.
	Rejoignez notre communauté dès maintenant et trouvez votre prochaine mission !
{#	Nous offrons une solution rapide et efficace pour les deux parties afin de répondre aux besoins de main-d'œuvre dans le domaine médico-social.#}
{#	Nos services sont simples et conviviaux, offrant une expérience utilisateur optimale pour les employeurs et les candidats.#}
{#	Nous sommes fiers de notre engagement à soutenir les professionnels de la santé en connectant les bons talents avec les bons emplois.#}
{#	Rejoignez notre communauté dès maintenant et trouvez votre prochaine mission !#}
{% endblock %}


{% block body %}

	<section class="banniere">
		<div>
			<div class="row">
				<div class="col-12 text-center">
					<h1 class="bg-color-blue">
						LES EXTRAS FREELANCES
						<br>
						<span>DU MÉDICO SOCIAL</span>
					</h1>
				</div>
				<div class="col-lg-12 text-center">
					<lottie-player class="js-relationship mt-lg-n4"  background="transparent"  speed="1"
								   style="height: 214px;" loop autoplay>
					</lottie-player>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					{{ form_start(form, {'action': path('front_mission'), 'method': 'POST', 'attr': {'class': 'js-form-search'}}) }}
					<div class="row" id="js-animation">
						<div class="col-12 col-lg-8 offset-lg-2">
							{{ form_widget(form.categories) }}
							<div class="text-center">
								<button type="submit" class="rounded-pill input-search p-2 p-lg-3 btn btn-danger">Rechercher</button>
							</div>
						</div>
					</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</section>

	<section class="services mt-lg-n3" id="intro1">
		<h2 style="color: #131314">NOS SERVICES</h2>
		<div class="row">
			<div class="col-12 col-md-4 service1">
				<div>
					<lottie-player class="js-plateforme"  background="transparent"  speed="1"
									style="height: 224px;" loop autoplay>
					</lottie-player>
				</div>
				<h3 class="my-2 bg-color-blue">Plateforme
				</h3>
				<p>Grace à notre plateforme, vous pourrez en quelques clics proposer vos services, demander un freelance, réserver un atelier éducatif, obtenir du renfort professionnel, et avoir les dernières actualités éducatives dans le sport-médico-social.
					Nous vous avons créé un espace autonome qui permet de répondre aux besoins simplement et avec efficacité !</p>
			</div>
			<div class="service2 col-12 col-md-4">
				<div>
					<lottie-player class="js-formation"  background="transparent"  speed="1"
								   style="height: 224px;" loop autoplay>
					</lottie-player>
				</div>
				<h3 class="my-2 bg-color-blue">Formations</h3>
				<p>Nous effectuons sur demande des présentations du dispositif de l'association, de la plateforme et son utilisation. Donc demander nous une Extra Présentation et inscrivez-vous à notre newsletter pour recevoir les dates de nos prochaines formations au monde du médico-social. Tous nos adhérents en bénéficient gratuitement.</p>
			</div>
			<div class="service3 col-12 col-md-4">
				<div>
					<lottie-player class="js-assistance"  background="transparent"  speed="1"
								   style="height: 224px;" loop autoplay>
					</lottie-player>
				</div>
				<h3 class="my-2 bg-color-blue">Assistance</h3>
				<p>Nous sommes à votre écoute et disponible via notre formulaire de contact pour toutes questions turlupinantes, difficulté d'inscription, ou juste pour faire notre connaissance 😉
					Contacter DAVID notre EXTRA Référent au 06 20 60 67 89 ou par mail à assoc.adepa@gmail.com
				</p>
			</div>
		</div>
	</section>
	<div class="mt-5 mb-2 text-center actualites">
		<h2 style="color: #131314">NOS ACTUALITÉS</h2>
	</div>
	<section class="news" id="news">

		<div class="news-box row ">
{#			<div class="col-1 col-sm-2 {{ not articles|length ? 'cs-image-actualite' }}">#}
{#				<img src="{{asset('images/news.png')}}" alt="">#}
{#			</div>#}
			<div class="col-12 col-sm-6 offset-sm-3">
				{% if articles|length %}
					{% include 'back_office/dash_board/_article.html.twig' with {'articles': articles} %}
				{% endif %}
			</div>
		</div>
	</section>
{% endblock %}
