{% extends 'base_admin.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('datatable') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('datatable') }}
{% endblock %}


{% block body %}

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_dash_board_index') }}">Tableau de bord</a></li>
        <li class="breadcrumb-item active">{{ block('title') }}</li>
    </ol>

    <div>
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Catégories</h1>
        <div class="text-right">
            <a class="btn btn-outline-primary my-3" href="{{ path('admin_category_new') }}">
                <span class="fa fa-plus-square"></span>
                Nouvelle catégorie
            </a>
        </div>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Crée</th>
                            <th>Type</th>
                            <th>Parent ( GROUPE ) </th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}
                            <tr>
                                <td>{{ category.title }}</td>
                                <td>{{ category.createdAt ? category.createdAt|date('d/m/Y') : '' }}</td>
                                <td>
                                    {% if category.type == 'Mission' %}
                                        <span class="badge badge-pill badge-warning">
                                          {{ category.type }}
                                        </span>
                                    {% elseif category.type == 'Service' %}
                                        <span class="badge badge-pill badge-primary">
                                          {{ category.type }}
                                        </span>
                                    {% elseif category.type == 'Public' %}
                                        <span class="badge badge-pill badge-success">
                                          {{ category.type }}
                                        </span>
                                    {% endif %}

                                </td>
                                <td align="center">
                                    {% if category.parent %}
                                        <a href="{{ path('admin_category_show', {id: category.parent.id}) }}">
                                             <span class="badge badge-dark badge-pill">

                                            {{ category.parent.title }}
                                        </span>
                                        </a>

                                    {% endif %}
                                </td>
                                <td align="center">
                                    <a href="{{ path('admin_category_show', {'id': category.id}) }}">
                                        <span class="fa fa-eye"></span>
                                        Voir
                                    </a>
                                    |
                                    <a href="{{ path('admin_category_edit', {'id': category.id}) }}">
                                        <span class="fa fa-pencil-alt"></span>
                                        Modifier
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
{% endblock %}