{% extends 'base_admin.html.twig' %}

{% block title %}Voir {{ category.title }}{% endblock %}

{% block body %}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-center">Catégorie {{ category.title }}</h6>
        </div>
        <div class="card-body">
            {{ category.description|raw }}
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <a href="{{ path('admin_category_index') }}" class="btn btn-secondary">
                <span class="fa fa-arrow-left"></span>
                Liste des catégories
            </a>
            <a href="{{ path('admin_category_edit', {id: category.id}) }}" class="btn btn-success">
                <span class="fa fa-pencil-alt"></span>
                Modifier
            </a>
        </div>

    </div>
{% endblock %}
