<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center class" href="{{ path('admin_dash_board_index') }}">
        <img src="{{ asset('/images/logo.png') }}" alt="Logo LES EXTRAS" width="90">
{#        <div class="sidebar-brand-icon rotate-n-15">#}
{#            <i class="fas fa-laugh-wink"></i>#}
{#        </div>#}
{#        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>#}
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Tableau de bord -->
    <li class="nav-item {{ app.request.attributes.get('_route') == 'admin_dash_board_index' ? 'active' }}">
        <a class="nav-link" href="{{ path('admin_dash_board_index') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Tableau de bord</span></a>

    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Utilisateurs
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item {{ app.request.attributes.get('_route') == 'admin_profile_index' ? 'active' }}">
        <a class="nav-link" href="{{ path('admin_profile_index') }}">
            <i class="fas fa-fw fa-user"></i>
            <span>Mon profil</span>
        </a>
    </li>


    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_DIRECTION') or is_granted('ROLE_MANAGER') %}
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Utilisateurs
        </div>

        <li class="nav-item {{ app.request.attributes.get('_route') == 'admin_user_index' ? 'active' }}">
            <a class="nav-link" href="{{ path('admin_user_index') }}">
                <i class="fas fa-fw fa-users"></i>
                <span>Gestion utilisateurs</span>
            </a>
        </li>
        {% if is_granted('ROLE_DIRECTION') or is_granted('ROLE_MANAGER') %}
            <li class="nav-item {{ app.request.attributes.get('_route') == 'admin_user_index' ? 'active' }}">
                <a class="nav-link" href="{{ path('admin_user_send_invitation') }}">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Envoyer une invitation</span>
                </a>
            </li>
        {% endif %}

    {% endif %}

    {% if app.user and app.user.enabled %}
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            RÉSERVATION ÉDUCAT'HEURE
        </div>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_reservation_index') }}">
                <i class="fas fa-fw fa-cart-plus"></i>
                <span>Mes réservations</span>
            </a>
        </li>
        {% if is_granted('ROLE_FREELANCE') and not is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_agenda_index') }}">
                    <i class="fas fa-fw fa-list"></i>
                    <span>Mon planning</span>
                </a>
            </li>
        {% endif %}
    {% endif %}

    {% if is_granted('ROLE_CLIENT')  or is_granted('ROLE_DIRECTION') or is_granted('ROLE_MANAGER') %}
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            RENFORT D’ÉQUIPE
        </div>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_mission_new') }}">
                <i class="fas fa-fw fa-plus-circle"></i>
                <span>Proposer une mission</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_candidat_index') }}">
                <i class="fas fa-fw fa-users"></i>
                <span>Les extras réservés</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_mission_index') }}">
                <i class="fas fa-fw fa-list"></i>
                <span>Mes missions</span>
            </a>
        </li>
    {% elseif is_granted('ROLE_FREELANCE') and not is_granted('ROLE_ADMIN') %}
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
        RENFORT D’ÉQUIPE
        </div>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_mission_my_missions') }}">
                <i class="fas fa-fw fa-list"></i>
                <span>Mes missions</span>
            </a>
        </li>
    {% endif %}

    {% if is_granted('ROLE_FREELANCE') %}
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            LES ÉDUCAT’HEURES
        </div>

        {% if app.user.isActive %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_educatheure_new') }}">
                    <i class="fas fa-fw fa-plus-circle"></i>
                    <span>Proposer un service</span>
                </a>
            </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_educatheure_index') }}">
                <i class="fas fa-fw fa-folder"></i>
                <span>Mes Services</span>
            </a>
        </li>
    {% endif %}



    {% if is_granted('ROLE_ADMIN') %}
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Catégories
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item {{ app.request.attributes.get('_route') == 'admin_category_new' ? 'active' }}">
            <a class="nav-link" href="{{ path('admin_category_new') }}">
                <i class="fas fa-fw fa-plus"></i>
                <span>Nouvelle catégories</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ app.request.attributes.get('_route') == 'admin_category_index' ? 'active' }}" href="{{ path('admin_category_index') }}">
                <i class="fas fa-fw fa-list"></i>
                <span>Liste des catégories</span>
            </a>
        </li>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            News
        </div>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_article_new') }}">
                <i class="fas fa-fw fa-plus"></i>
                <span>Partager une nouvelles</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_article_index') }}">
                <i class="fas fa-fw fa-newspaper"></i>
                <span>Les nouvelles</span>
            </a>
        </li>
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            Factures
        </div>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_invoice_index') }}">
                <i class="fas fa-fw fa-file-invoice"></i>
                <span>Facturations</span>
            </a>
        </li>
    {% endif %}

    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
{#    <div class="sidebar-card d-none d-lg-flex">#}
{#        <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">#}
{#        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>#}
{#        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>#}
{#    </div>#}

</ul>