{% extends 'base.html.twig' %}

{% block title %}Voir L'ÉDUCAT'HEURE {{ educatheure.title }}{% endblock %}

{% block description %}
    {{ educatheure.description|u.truncate(200, '...')|raw }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('educateur') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('educateur') }}
{% endblock %}


{% block body %}
    <div class="container cs-article-front">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
            <li class="breadcrumb-item active">
                {{ educatheure.title }}
            </li>
        </ol>
        <div>
            <div class="d-flex justify-content-center">
                {% for category in educatheure.categories %}
                    <div>
                        <span class="badge rounded-pill bg-primary text-light">{{ category }}</span>&nbsp;
                    </div>
                {% endfor %}
            </div>
        </div>
        <h2 class="edito text-center text-dark">{{ educatheure.title }}</h2>

        <div class="text-center mb-5">
            <div class="cs-small-homepage text-center">
                <i class="fas fa-map-marker-alt text-danger"></i>
                &nbsp;
                <span title="{{ educatheure.departement }}">{{ educatheure.departement|upper }}</span>
            </div>
        </div>

        {% if educatheure.image %}
            <div class="my-2 text-center">
                <img class="w-50" src="{{ asset(photo_directory ~'/'~ educatheure.image.name) }}" alt="photo '{{ educatheure.title }}' indisponible" style="    max-height: 600px;border-radius: 6px;">
            </div>
        {% endif %}
        <div class="text-center text-muted cs-published">
            Publié : {{ educatheure.createdAt|ago(locale='fr') }}
        </div>
        <div class="row">
            <div class="col-12 col-sm-8">
                <div class="my-4">
                    <div class="row">
                        <div class="col-6 cs-space-col">
                            <div class="lead cs-font-weight mt-2" title="Nombre des participants">
                                <i class="fas fa-people-arrows text-primary"></i>
                                &nbsp;
                                Participants : <span class="text-muted">{{ educatheure.numberParticipant }}</span>
                            </div>
                            <div class="lead cs-font-weight my-2">
                                <i class="fas fa-fw fa-hourglass-start text-success"></i>
                                &nbsp;
                                Nombre d'intervention : <span class="text-muted">{{ educatheure.numberParticipant }} Heure{{ educatheure.numberParticipant > 1 ? 's' }}</span>
                            </div>
                        </div>
                        <div class="col-6 cs-space-col">
                            <div class="lead cs-font-weight mt-2" title="Type public">
                                <i class="fas fa-fw fa-bullhorn text-primary"></i>

                                Public : {% for public in educatheure.getEducatheureTags %}
                                    <span class="badge rounded-pill text-bg-primary" style="font-size: 0.63em;"> {{ public.category.title }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
{#                <div class="my-4 cs-booking-price-header">#}
{#                    <div class="cs-booking-price">#}
{#                        {{ educatheure.price }} €#}
{#                    </div>#}
{#                </div>#}

                {% if app.user and app.user.hasRole('ROLE_CLIENT')  %}
                    <form class="cs-form-educatheur" action="{{ path('app_educatheure_new_booking', {slug: educatheure.slug}) }}" method="POST">

                    <div class="text-center">
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop" title="Faire une demande de réservation pour le service '{{ educatheure.title }}'">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-shopping-cart-heart"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 19a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M10 17h-4v-14h-2" /><path d="M6 5l14 1l-.717 5.016m-7.783 1.984h-5.5" /><path d="M18 22l3.35 -3.284a2.143 2.143 0 0 0 .005 -3.071a2.242 2.242 0 0 0 -3.129 -.006l-.224 .22l-.223 -.22a2.242 2.242 0 0 0 -3.128 -.006a2.143 2.143 0 0 0 -.006 3.071l3.355 3.296z" /></svg>
                            Demande de réservation
                        </button>
                    </div>

                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-full-width">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Demande de réservation</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <blockquote class="blockquote">
                                        <h6 class="filter-form-small-title my-2">Note sur la réservation :</h6>
                                        <p class="mb-0">
                                            {{ educatheure.noteBooking|raw }}
                                        </p>
                                        <div class="blockquote-footer">
                                            Note de <cite title="Source Title">l'auteur</cite>
                                        </div>
                                    </blockquote>
                                    <div class="my-3">
                                        <h6 class="filter-form-small-title">Votre public <sup class="text-danger">*</sup> : </h6>
                                        <select name="publics[]" id="publics" class="js-select2" multiple  placeholder="Choisir un public" style="width: 100%" required>
                                            <option value=""></option>
                                            {% for public in educatheure.educatheureTags %}
                                                <option value="{{ public.category.id }}">{{ public.category.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="my-2">
                                        <h6 class="filter-form-small-title">Description du public est besoin <sup class="text-danger">*</sup> : </h6>
                                        <div class="mb-3">
                                            <textarea class="form-control" name="note" id="message-text" placeholder="Si vous avez des informations à partager concernant votre réservation"></textarea>
                                        </div>
                                    </div>
                                    <div class="my-3">
                                        <div class="row">
                                            <div class="col-12">
                                                <h6 class="filter-form-small-title">Période durant laquelle les interventions devront être réalisées <sup class="text-danger">*</sup> : </h6>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="input-group mb-3">
                                                    <input type="text" name="startedAt" class="form-control datepicker" placeholder="Date début" required>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="input-group mb-3">
                                                    <input type="text" name="endAt" class="form-control datepicker" placeholder="Date fin" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <hr>
                                        </div>
                                        <div class="col-12">
                                            {% set adresse1 = app.user.services.first %}
                                            <fieldset>
                                                <h6 class="filter-form-small-title">Contact structure <sup class="text-danger">*</sup> : </h6>
                                                <div class="row my-1">
                                                    <div class="col-12 col-sm-6">
                                                        <input class="form-control" name="name1" type="text" placeholder="Nom" value="{{ adresse1 ? adresse1.contactName : '' }}" required>
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <input class="form-control" name="phone1" type="number" placeholder="Tél" value="{{ adresse1 ? adresse1.phone : '' }}" required>
                                                    </div>
                                                </div>
                                                <div>
                                                    <input class="form-control" name="adresse1" type="text" placeholder="3 rue gustave simon" value="{{ adresse1 ? adresse1.address : '' }}" required>
                                                </div>
                                                <div class="row my-1">
                                                    <div class="col-12 col-sm-6">
                                                        <input class="form-control" name="city1" type="text" placeholder="Paris" value="{{ adresse1 ? adresse1.city : '' }}" required>
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <input class="form-control" name="zipCode1" type="number" placeholder="75012" value="{{ adresse1 ? adresse1.zipCode : '' }}" required>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-12 my-2">
                                            {% set adresse2 = app.user.services|length > 1 ? app.user.services.last : false %}
                                            <fieldset>
                                                <h6 class="filter-form-small-title">Lieu intervention <sup class="text-danger">*</sup> : </h6>
                                                <div class="row my-1">
                                                    <div class="col-12 col-sm-6">
                                                        <input class="form-control" name="name2" type="text" placeholder="Nom" value="{{ adresse2 ? adresse2.contactName : '' }}" required>
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <input class="form-control" name="phone2" type="number" placeholder="Tél" value="{{ adresse2 ? adresse2.phone : '' }}" required>
                                                    </div>
                                                </div>
                                                <div>
                                                    <input class="form-control" name="adresse2" type="text" placeholder="3 rue gustave simon" value="{{ adresse2 ? adresse2.address : '' }}" required>
                                                </div>
                                                <div class="row my-1">
                                                    <div class="col-12 col-sm-6">
                                                        <input class="form-control" name="city2" type="text" placeholder="Paris" value="{{ adresse2 ? adresse2.city : '' }}" required>
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <input class="form-control" name="zipCode2" type="number" placeholder="75012" value="{{ adresse2 ? adresse2.zipCode : '' }}" required>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-12">
                                            <hr>
                                            <h6 class="filter-form-small-title">Nombre d’heure d’intervention souhaité <sup class="text-danger">*</sup> : </h6>
                                        </div>
                                        <div class="col-12">
                                            <div class="input-group mb-3">
                                                <input type="number" name="intervention" class="form-control js-intervention" placeholder="3" required>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <h6 class="filter-form-small-title">Tarif : </h6>
                                        </div>
                                        <div class="col-12">
                                            <div class="input-group mb-3">
                                                <input type="text" name="price" class="form-control js-price" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    <button type="submit" class="btn btn-primary">Faire la demande</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {% endif %}

                <div class="mt-4 cs-form-educatheur">
                    <div class="text-center py-1">
                        <a href="{{ path('app_contact') }}" class="btn btn-success"  title="Prise de contact sur la réservation du service '{{ educatheure.title }}'">
                            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-phone-outgoing"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /><path d="M15 9l5 -5" /><path d="M16 4l4 0l0 4" /></svg>
                            Envoyer un message
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <p class="my-4 text-dark">
            {{ educatheure.description|raw }}
        </p>
        {% if not app.user or (is_granted('ROLE_FREELANCE') and  not ( app.user and educatheure.user and app.user.id == educatheure.user.id ) and dontHaveRequest(educatheure.id, app.user.id)) %}
            <div style="margin-top: 82px" class="text-end">
                <form action="{{ path('app_educatheure_new_request', {slug: educatheure.slug}) }}" method="POST">
                    <button type="submit" class="btn btn-sm btn-success text-light" title="Demander à réaliser ce service">
                        <i class="fas fa-plus-circle"></i>
                        Postuler à ce service
                    </button>
                </form>

            </div>
        {% endif %}
    </div>
{% endblock %}
