{% extends 'base.html.twig' %}

{% block title %}Liste des missions{% endblock %}

{% block description %}
    Nous offrons une solution rapide et efficace pour les deux parties afin de répondre aux besoins de main-d'œuvre dans le domaine médico-social.
    Nos services sont simples et conviviaux, offrant une expérience utilisateur optimale pour les structures et les candidats.
    Nous sommes fiers de notre engagement à soutenir les professionnels de la santé en connectant les bons talents avec les bons emplois.
{% endblock %}

{% block body %}
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
                <li class="breadcrumb-item active">Missions</li>
            </ol>
        </nav>

        <div class="mt-5">
            {{ form_start(form, {'action': path('front_mission'), 'method': 'POST'}) }}
            <div class="row">
                <div class="col-12 col-lg-8 offset-lg-2">
                    <p class="my-2 h2 text-center">RENFORT D'EQUIPE</p>
                    {{ form_widget(form.categories) }}
                    <div class="text-center mt-2">
                        <button type="submit" class="rounded-pill input-search p-2 p-lg-3 btn btn-danger">Rechercher</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>

        <hr class="my-4">
        <div class="gallery col-12 col-md-7 offset-md-3">
            <h1 class="bg-danger text-white p-1 p-lg-2 d-inline-block my-4 rounded-2 position-relative">Demande de renfort urgents
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-gradient-dark">
                    {{ missions.urgent|length }}
                </span>
            </h1>
        </div>
        <br>
        <div class="row">
            {% for mission in missions.urgent %}
                <div class="col-12 col-md-6">
                    <div class="card border-danger bg-light text-center text-dark">
                        <div class="card-header fw-bold fs-5 bg-danger text-white">
                            <div class="row">
                                <div class="col-12">
                                    {{ mission.title }}
                                    <span class="badge badge-dark">
                                         {{ mission.started|date('d/m/Y à H:i') }}
                                        <span class="fa fa-info-circle js-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="<b>Début de la mission</b> le <u>{{ mission.started|date('d/m/Y à H:i') }}</u> et la fin de la mission et <u>{{ mission.ended|date('d/m/Y à H:i') }}</u>">
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-10"  style="height: 57px">
                                    {{ mission.content|u.truncate(52, '...')|raw }}
                                </div>
                                <div class="col-2 align-self-center">
                                    <a href="{{ path('front_mission_show', {'slug': mission.slug}) }}" class="" title="Voir l'offre">
                                        <span class="fa fa-chevron-right fa-2x">
                                        </span>
                                    </a>
                                </div>
                                <div class="text-small text-muted my-1">
                                    {{ mission.createdAt|ago(locale='fr') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container mt-2 mt-md-5 mb-5">
        <div class="gallery col-12 col-md-7 offset-md-3">
            <h1 class="bg-primary text-white p-3 d-inline-block my-4 rounded-2 position-relative">
                Demande de renfort
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-gradient-dark">
                    {{ missions.normal|length }}
                </span>
            </h1>
        </div>

        <div class="row">
            <br />
            {% for mission in missions.normal %}
            <div class="col-12 col-md-6">
                <div class="card border-primary bg-light text-center text-dark">

                    <div class="card-header fw-bold fs-5 bg-primary text-white">
                        <div class="row">
                            <div class="col-12">
                                {{ mission.title }}
                                <span class="badge badge-dark">
                                     {{ mission.started|date('d/m/Y à H:i') }}
                                    <span class="fa fa-info-circle js-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="<b>Début de la mission</b> le <u>{{ mission.started|date('d/m/Y à H:i') }}</u> et la fin de la mission et <u>{{ mission.ended|date('d/m/Y à H:i') }}</u>">
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>

{#                    <div class="card-header fw-bold fs-5 text-dark">#}
{#                        <div class="my-1">#}
{#                            {{ mission.title }}#}
{#                        </div>#}
{#                        <div class="text-center fs-6 badge bg-primary">#}
{#                            {{ mission.started|date('d/m/Y à H:i') }}#}
{#                            <span class="fa fa-info-circle js-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title="<b>Début de la mission</b> le <u>{{ mission.started|date('d/m/Y à H:i') }}</u> et la fin de la mission et <u>{{ mission.ended|date('d/m/Y à H:i') }}</u>">#}
{#                            </span>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10" style="height: 57px">
                                {{ mission.content|u.truncate(52, '...')|raw }}
                            </div>
                            <div class="col-2 align-self-center">
                                <a href="{{ path('front_mission_show', {'slug': mission.slug}) }}" title="Voir l'offre">
                                    <span class="fa fa-chevron-right fa-2x">
                                    </span>
                                </a>
                            </div>
                            <div class="text-small text-muted my-1">
                                {{ mission.createdAt|ago(locale='fr') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('front-mission') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('front-mission') }}
{% endblock %}
